body {
  background: linear-gradient(to right, #141e30, #243b55);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  font-size: 100px;
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  padding: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e74863;
  cursor: pointer;
}

.App-link:hover {
  color: white;
}

.App-wrap {
  margin-top: 50px;
  margin-bottom: 50px;
}

.App-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.App-button {
  color: white;
  width: 100%;
  height: 40px;
  font-size: 21px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
}

.custom {
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}
